<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dlpfnmmqv65famntjm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a3d6718b-c33c-4698-a9a1-44d5c6f164f7/resourceGroups/RG-DataProtection/providers/Microsoft.Web/sites/Dlpfnmmqv65famntjm</ResourceId>
    <UserName>$Dlpfnmmqv65famntjm</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dlpfnmmqv65famntjm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>